- @page_title = 'Edit forum'
= breadcrumbs link_to('Forums', forums_path),
  link_to(@forum, @forum),
  @page_title
%h1.major= @page_title
= render 'shared/error_messages', model: @forum
= form_for @forum do |f|
  = f.text_field :name
  = f.text_field :permalink, required: false
  = f.text_field :description
  = f.text_field :position
  = f.check_box :public, label: 'Public?'
  = f.submit
.links
  = link_to 'show', @forum
  = link_to 'all forums', forums_path
