%h1.major= @page_title
= render 'shared/error_messages', model: @repo
= form_for @repo do |f|
  = f.text_field :name
  = f.text_field :permalink
  = f.text_field :path
  = f.text_field :description, annotation: 'optional'
  = f.text_field :clone_url, label: 'Clone URL', annotation: 'optional'
  = f.text_field :rw_clone_url, label: 'R/W Clone URL', annotation: 'optional'
  = f.select :product_id, content_tag(:option, '', value: '') +   |
    option_groups_from_collection_for_select(Product.categorized, |
    :last, :first, :id, :name, (@repo.product.try(:id))),         |
    annotation: 'optional'                                        |
  = f.check_box :public
  = f.submit
