%h1.major Search
%form.search{'accept-charset' => 'UTF-8', :action => search_path, :method => :get}
  =text_field_tag :q, '', placeholder: 'enter your search terms here', size: 75
  %input(type='submit' value='Search')
.tips
  %h4 Search tips
  %ul
    %li
      Example:
      %code foo bar baz
      (search for "foo" <em>or</em> "bar" <em>or</em> "baz")
    %li
      Example:
      %code title:foo
      (search for "foo" in the title)
    %li
      Example:
      %code body:bar baz
      (search for "bar" in the body <em>or</em> "baz" anywhere)
    %li The <code>title</code> attribute is available on #{link_to 'blog posts', posts_path}, #{link_to 'wiki articles', articles_path} and #{link_to 'forum topics', forums_path}
    %li The <code>body</code> attribute is available on #{link_to 'blog posts', posts_path}, #{link_to 'wiki articles', articles_path}, #{link_to 'forum topics', forums_path} and #{link_to 'tweets', tweets_path}
    %li The <code>summary</code> and <code>description</code> attributes are available on #{link_to 'issue tracker tickets', issues_path}
    %li The <code>excerpt</code> attribute is available on #{link_to 'blog posts', posts_path}
%h2.major Other kinds of search
.links
  =link_to 'issue tracker search', search_issues_path
  =link_to 'tag search', search_tags_path
