= f.select :kind, underscores_to_spaces(Issue::KIND).sort

= f.text_field :summary, annotation: 'a one-line summary of your issue'

:ruby
  product_options = content_tag(:option, '', value: '') +
    option_groups_from_collection_for_select(Product.categorized, :last, :first, :id, :name, (@issue.product.try(:id)))
= f.select :product_id, product_options

= f.select :status, underscores_to_spaces(Issue::STATUS).sort if admin?

= f.text_area :description,
  rows: 20,
  annotation: ['please be as detailed as possible', wikitext_cheatsheet]

- annotation = if logged_in?
  - annotation('allow other visitors to see this ticket?',
    '(it may be helpful to them)')
- else
  - annotation('this ticket must be public because you are posting anonymously',
    "(#{link_to 'log in', login_path(original_uri: request.fullpath)})")

= f.check_box :public, disabled: !logged_in?, label: 'Public?', annotation: annotation

= f.text_field :pending_tags, label: 'Tags' if admin?

= f.submit
