%table.table
  %thead
    %tr
      %th #
      %th Summary
      %th Product
      %th Status
      %th Kind
      %th When
  - unless @issues.empty?
    %tbody
      - @issues.each do |issue|
        %tr
          %td= issue.id.to_s
          %td{class: issue.closed? && 'strikethrough'}
            = link_to content_tag(:p, issue.summary, class: 'clamp-wrapper'),
              issue_path(issue),
              class: 'clamp',
              title: issue.summary
          %td= issue.product.name if issue.product
          %td= issue.status_string
          %td{class: issue.kind_string.parameterize}
            = issue.kind_string
          %td= timeinfo issue
= @paginator.pagination_links if @paginator
