-@page_title = "#{@issue.kind_string.humanize} \##{@issue.id.to_s}: #{@issue.summary}"
=breadcrumbs link_to('Issues', issues_path),
  "#{@issue.kind_string.humanize} \##{@issue.id.to_s}"
.issue(class="#{'private' unless @issue.public}" id="issue_#{@issue.id}")
  -#
    Even though non-admins can't edit issues, they still get the form element,
    in order to keep the markup simple
  = form_for @issue, builder: Helpers::FormBuilder do |f|
    %h1.major(class="#{@issue.kind_string.parameterize}")
      #{@issue.kind_string.humanize} ##{@issue.id.to_s}:
      %span{ data: { name: 'issue[summary]', editable: admin? } }
        = @issue.summary
    %table.issue-metadata
      %tr
        %th Kind
        %td
          = @issue.kind_string
      %tr
        %th Product
        %td
          = @issue.product.try(:name) || 'no product'
      %tr
        %th When
        %td=timeinfo @issue
      %tr
        %th Status
        %td
          = @issue.status_string
      %tr
        %th Reporter
        %td=link_to_user @issue.user
      %tr
        %th Tags
        -# BUG: this won't work, as we end up submitting "a" tags as well as plaintext, which won't pass validation
        %td{ data: { name: 'issue[pending_tags]', editable: false } }
          = tag_links(@issue)
    %h4.major
      Description
    .issue-description-body
      -if @issue.description.blank?
        none
      -else
        =@issue.description.w :base_heading_level => 1
%h4.major Comments
%ol#comments.boxed
  =render @comments
  -# BUG: here we're using base heading level of 2 but in partial it is 1
%h4.major Add a comment
%p Comments are now closed for this issue.
