-if @issue.public?
  -atom_link @issue
-content_for :css do
  =stylesheet_link_tag 'issues'
-content_for :javascript do
  =javascript_include_tag 'ajax' if admin?
-@page_title = "#{@issue.kind_string.humanize} \##{@issue.id.to_s}: #{@issue.summary}"
-if admin?
  #ajax-flash
=breadcrumbs link_to('Issues', issues_path),
  "#{@issue.kind_string.humanize} \##{@issue.id.to_s}"
%div(class="issue#{@issue.public ? '' : ' private'}" id="issue_#{@issue.id}")
  %h1(class="major #{@issue.kind_string.parameterize}")="#{@issue.kind_string.humanize} \##{@issue.id.to_s}"
  .prev_next
    =link_to_prev_issue @prev
    =link_to_next_issue @next
  %table.main
    %tr
      %th Kind
      %td(id="issue_#{@issue.id}_kind")=@issue.kind_string
    %tr
      %th Summary
      %td(id="issue_#{@issue.id}_summary")=@issue.summary
    %tr
      %th Product
      %td(id="issue_#{@issue.id}_product_id")=link_to_product_issues @issue.product
    %tr
      %th When
      %td=timeinfo @issue
    %tr
      %th Status
      %td(id="issue_#{@issue.id}_status")=@issue.status_string
    %tr
      %th Reporter
      %td=link_to_user @issue.user
    %tr
      %th
        Description
        -if admin?
          %br
          =link_to 'edit', edit_issue_path(@issue)
      %td
        -if @issue.description.blank?
          none
        -else
          =@issue.description.w :base_heading_level => 1
    -if admin?
      %tr
        %th Public?
        %td(id="issue_#{@issue.id}_public")=@issue.public?
    %tr
      %th Tags
      %td(id="issue_#{@issue.id}_pending_tags")=tag_links(@issue)
%h2.major
  Comments
  =feed_icon issue_path(@issue, :format => :atom)
%table.comments
  -for comment in @comments
    %tr(class="comment #{cycle('even', 'odd') + (comment.public? ? '' : ' private')}" id="comment_#{comment.id}")
      %th
        =link_to_user comment.user
        %br
        =pluralizing_count(comment.user.utterances_count, 'post') if comment.user
        %br
        %span.when=timeinfo comment, :updated_string => 'edited'
        -if admin?
          %br
          =link_to 'edit', edit_comment_path(comment)
          -# TODO: add a means of marking individual comments as private
      %td=comment.body.w :base_heading_level => 2
%h2.major Add a comment
=render 'comments/form'
.links
  =link_to 'all issues', issues_path
  =link_to "all #{@issue.product.name} issues", issues_path(:product => @issue.product.name) if @issue.product
  =link_to "all #{@issue.status_string.downcase} issues", issues_path(:status => @issue.status_string)
  =link_to "all #{@issue.kind_string.pluralize.downcase}", issues_path(:kind => @issue.kind_string)
  -if admin?
    =link_to 'edit', edit_issue_path(@issue)
    =link_to 'destroy', issue_path(@issue), :method => :delete, :confirm => 'Really destroy this issue?'
