-@page_title = "#{@issue.kind_string.humanize} \##{@issue.id.to_s}: #{@issue.summary}"
-if admin?
  #ajax-flash
=breadcrumbs link_to('Issues', issues_path),
  "#{@issue.kind_string.humanize} \##{@issue.id.to_s}"
%div(class="issue#{@issue.public ? '' : ' private'}" id="issue_#{@issue.id}")
  %h1(class="major #{@issue.kind_string.parameterize}")="#{@issue.kind_string.humanize} \##{@issue.id.to_s}"
  .prev-next
    =link_to_prev_issue @prev
    =link_to_next_issue @next
  %table
    %tbody
      %tr
        %th Kind
        %td(id="issue_#{@issue.id}_kind")=@issue.kind_string
      %tr
        %th Summary
        %td(id="issue_#{@issue.id}_summary")=@issue.summary
      %tr
        %th Product
        %td(id="issue_#{@issue.id}_product_id")=link_to_product_issues @issue.product
      %tr
        %th When
        %td=timeinfo @issue
      %tr
        %th Status
        %td(id="issue_#{@issue.id}_status")=@issue.status_string
      %tr
        %th Reporter
        %td=link_to_user @issue.user
      %tr
        %th
          Description
          -if admin?
            %br
            =link_to 'edit', edit_issue_path(@issue)
        %td
          -if @issue.description.blank?
            none
          -else
            =@issue.description.w :base_heading_level => 1
      -if admin?
        %tr
          %th Public?
          %td
            = form_for @issue do |f|
              = f.check_box :public, 'data-ajax' => true
      %tr
        %th Tags
        %td(id="issue_#{@issue.id}_pending_tags")=tag_links(@issue)
%h2.major Comments
%ol#comments.boxed
  =render @comments
  -# BUG: no edit links
  -# BUG: here we're using base heading level of 2 but in partial it is 1
  -# TODO: add a means of marking individual comments as private
%h2.major Add a comment
=render 'comments/form'
.links
  =link_to 'all issues', issues_path
  =link_to "all #{@issue.product.name} issues", issues_path(:product => @issue.product.name) if @issue.product
  =link_to "all #{@issue.status_string.downcase} issues", issues_path(:status => @issue.status_string)
  =link_to "all #{@issue.kind_string.pluralize.downcase}", issues_path(:kind => @issue.kind_string)
  -if admin?
    =link_to 'edit', edit_issue_path(@issue)
    =button_to_destroy_model @issue
