- @page_title = 'New article'
= breadcrumbs link_to('Wiki', articles_path), @page_title
%h1.major= @page_title
= render 'form', article: @article
%h2#preview_link.major Preview
-# TODO: graceful non-JS fallback
#ajax-flash
  #preview= render 'preview'
%p= link_to 'index', articles_path
- content_for :javascript do
  :javascript
    Wincent.Articles.init();
    Wincent.Ajax.observeField({ 'kind': 'article', 'fieldName': 'title', 'include': ['body'], 'url': '#{articles_path}' });
    Wincent.Ajax.observeField({ 'kind': 'article', 'fieldName': 'body', 'include': ['title'], 'url': '#{articles_path}' });
    Wincent.Ajax.setupPreviewLink({ 'kind': 'article', 'include': ['body', 'title'], 'url': '#{articles_path}' });
