- @page_title = 'Edit topic'
= breadcrumbs link_to('Forums', forums_path),
  link_to(@forum.name, forum_path(@forum)),
  link_to(@topic.title, forum_topic_path(@forum, @topic)),
  'Edit'
%h1.major= @page_title
%div[@topic]
  = render 'shared/error_messages', model: @topic
  = form_for [@forum, @topic] do |f|
    = f.text_field :title, required: true
    = f.text_area :body, rows: 10, annotation: wikitext_cheatsheet, required: true
    = f.check_box :public, label: 'Public?'
    = f.check_box :accepts_comments, label: 'Accepts comments?'
    = f.submit
  .links
    = link_to 'show', @topic
    = button_to_destroy_model @topic
    - button_to_moderate_topic_as_ham @topic if @topic.awaiting_moderation?
.links
  = link_to 'back to topics awaiting moderation', topics_path
