- @page_title = 'New topic'
= breadcrumbs link_to('Forums', forums_path),
  link_to(@forum.name, forum_path(@forum)),
  @page_title
%h1.major= @page_title
= render 'shared/error_messages', model: @topic
- if !logged_in?
  = render 'shared/anonymous'
- elsif !current_user.verified?
  = render 'shared/unverified'
= form_for [@forum, @topic] do |f|
  = f.text_field :title
  = f.text_area :body, rows: 10, annotation: wikitext_cheatsheet
  - if admin?
    = f.label :pending_tags, 'Tags'
    = f.text_field :pending_tags, label: 'Tags'
    = f.check_box :public, label: 'Public?'
    = f.check_box :accepts_comments, label: 'Accepts comments?'
  = f.submit
.links
  = link_to 'forums index', forums_path
- content_for :javascript do
  :javascript
    Wincent.Topics.init();
