= breadcrumbs link_to('Forums', forums_path),
  link_to(@forum.name, forum_path(@forum)),
  @topic.title
- @page_title = @topic.title
%h1.major= @page_title
%div[@topic]
  %ol#comments.boxed
    %li{ class: comment_class(@topic) }
      %cite
        -# BUG: redundant(?) query here:
        -# SELECT `users`.* FROM `users` WHERE (`users`.`id` = 1) LIMIT 1
        = link_to_user @topic.user
        %span.when
          = link_to timeinfo(@topic, updated_string: false), forum_topic_path(@forum, @topic)
      %blockquote= @topic.body.w(base_heading_level: 1)
    = render @comments, locals: { base_heading_level: 1 }
%h2.major Reply
%p This topic is now closed.
.links
  = link_to 'topic index', forum_path(@forum)
  - if admin?
    = link_to 'edit topic', edit_forum_topic_path(@forum, @topic)
