<h1>Editing link</h1>

<%= error_messages_for :link %>

<% form_for(@link) do |f| %>
  <p>
    <b>Uri</b><br />
    <%= f.text_field :uri %>
  </p>

  <p>
    <b>Permalink</b><br />
    <%= f.text_field :permalink %>
  </p>

  <p>
    <b>Click count</b><br />
    <%= f.text_field :click_count %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @link %> |
<%= link_to 'Back', links_path %>
