- @page_title = 'Edit user'
= breadcrumbs link_to(@user.display_name, @user), @page_title
%h1.major= @page_title
= render 'shared/error_messages', model: @user
= form_for @user do |f|
  = f.text_field :display_name,
    annotation: 'what other users will see',
    required: true
  - unless @user.emails.active.empty?
    -# TODO: radio buttons or similar UI here to select default?
    %fieldset.field-row
      %span.label-text Emails
      %ul
        - @user.emails.active.each do |email|
          %li
            - if admin?
              = link_to email.address, edit_user_email_path(@user, email)
            - else
              = mail_to email.address
          -# TODO: add more info here and possibly a confirmation button
          -# this could allow us to dump the confirmation#new action entirely
          -#email.verified ? '(verified)' : '(unverified)'
          -#="(default)" if email.default? # right now default is meaningless, so not showing it
      %span.annotation= link_to('add new email address', new_user_email_path(@user))
  = f.password_field :old_passphrase,
    label: 'Old passphrase',
    annotation: 'leave blank unless you want to set a new passphrase'
  = f.password_field :passphrase, label: 'New passphrase'
  = f.password_field :passphrase_confirmation,
    label: 'New passhrase again',
    annotation: 'confirm your new passphrase'
  = f.submit
.links
  = link_to 'user profile', user_path(@user)
  = link_to 'all users', users_path if admin?
