- @page_title = 'Sign up'
= breadcrumbs 'Sign up'
%h1.major= @page_title
= render 'shared/error_messages', model: [@user, @email]
= form_for @user do |f|
  = f.email_field :email,
    annotation: 'a confirmation email will be sent to this address',
    required: true
  = f.text_field :display_name,
    annotation: 'what other users will see',
    required: true
  = f.password_field :passphrase, required: true
  = f.password_field :passphrase_confirmation, required: true,
    label: 'Passhrase again',
    annotation: 'confirm your passphrase'
  = f.submit 'Sign up'
