- @page_title = 'Reset passphrase'
= breadcrumbs @page_title
%h1.major= @page_title
= render 'shared/error_messages', model: [@reset, @user]
= form_for @reset, html: { autocomplete: 'off' } do |f|
  = f.email_field :email_address, annotation: 'confirm your identity'
  = f.password_field :passphrase, label: 'New passhrase'
  = f.password_field :passphrase_confirmation,
    label: 'New passphrase again',
    annotation: 'confirm your new passphrase'
  = f.submit 'Save changes'
