- @page_title = 'Edit page'
= breadcrumbs link_to('Products', products_path),
  link_to(@product, edit_product_path(@product)),
  @page.title
%h1.major= @page_title
%div[@page]
  = render 'form', product: @product, page: @page
.links
  = link_to 'show page', embedded_product_page_path(@product, @page)
  = link_to 'show product', product_path(@product)
