-@page_title = 'Link administration'
= breadcrumbs link_to('Dashboard', admin_dashboard_path), @page_title
#ajax-flash
%h1.major= @page_title
%table
  %thead
    %tr
      = sortable_header_cell :id, 'Id'
      = sortable_header_cell :uri, 'URI'
      = sortable_header_cell :permalink, 'Permalink'
      = sortable_header_cell :click_count, 'Click count'
      %th Actions
  - unless @links.empty?
    %tbody
    - @links.each do |link|
      %tr.link(id="link_#{link.id}")
        %td= link.id
        %td
          = form_for link,
            url: link_path(link.id),
            html: { data: { name: 'link[uri]', editable: true } } do |f|
            = link.uri
        %td
          = form_for link,
            url: link_path(link.id),
            html: { data: { name: 'link[permalink]', editable: true } } do |f|
            = link.permalink
        %td= link.click_count
        %td.links
          = link_to 'edit', edit_link_path(link.id)
          = button_to_destroy_model link, remote: true
.links
  = link_to 'new link', new_link_path
