- @page_title = 'Post administration'
= breadcrumbs link_to('Admin', admin_dashboard_path), @page_title
%h1.major= @page_title
#ajax-flash
%table
  %thead
    %tr
      = sortable_header_cell :title, 'Title'
      = sortable_header_cell :permalink, 'Permalink'
      = sortable_header_cell :created_at, 'When'
      %th Actions
  - unless @posts.empty?
    %tbody
      - @posts.each do |post|
        %tr
          %td
            = form_for post,
              url: admin_post_path(post.id),
              html: { data: { name: 'post[title]', editable: true } } do |f|
              = post.title
          %td
            = form_for post,
              url: admin_post_path(post.id),
              html: { data: { name: 'post[permalink]', editable: true } } do |f|
              = post.permalink
          %td= timeinfo post
          %td.links
            = link_to 'edit', edit_post_path(post.id)
            = button_to_destroy_model post, remote: true
%p.links
  = link_to 'new', new_post_path
  = link_to 'public index', posts_path
