<h1>Editing twitter</h1>

<%= error_messages_for :twitter %>

<% form_for(@twitter) do |f| %>
  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @twitter %> |
<%= link_to 'Back', twitters_path %>
