<h1>Listing twitters</h1>

<table>
  <tr>
    <th>Body</th>
  </tr>

<% for twitter in @twitters %>
  <tr>
    <td><%=h twitter.body %></td>
    <td><%= link_to 'Show', twitter %></td>
    <td><%= link_to 'Edit', edit_twitter_path(twitter) %></td>
    <td><%= link_to 'Destroy', twitter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New twitter', new_twitter_path %>
