- @page_title = 'Edit post'
= breadcrumbs link_to('Blog', posts_path), @page_title
%h1.major= @page_title
= render 'form', post: @post
%h2#preview_link.major Preview
-# TODO: graceful non-JS fallback
#ajax-flash
#preview= render 'preview'
.links
  = link_to 'posts index', posts_path
  = link_to 'show', post_path(@post)
- content_for :javascript do
  :javascript
    Wincent.AJAX.observeField({ 'kind': 'post', 'fieldName': 'title', 'include': ['excerpt', 'body'], 'url': '#{posts_path}' });
    Wincent.AJAX.observeField({ 'kind': 'post', 'fieldName': 'excerpt', 'include': ['title', 'body'], 'url': '#{posts_path}' });
    Wincent.AJAX.observeField({ 'kind': 'post', 'fieldName': 'body', 'include': ['title', 'excerpt'], 'url': '#{posts_path}' });
    Wincent.AJAX.setupPreviewLink({ 'kind': 'post', 'include': ['body', 'title', 'excerpt'], 'url': '#{posts_path}' });
