-content_for :javascript do
  =javascript_include_tag 'ajax'
  :javascript
    $(function() {
      observe_field({ 'kind': 'post', 'fieldName': 'title', 'include': ['excerpt', 'body'], 'url': '#{posts_path}' });
      observe_field({ 'kind': 'post', 'fieldName': 'excerpt', 'include': ['title', 'body'], 'url': '#{posts_path}' });
      observe_field({ 'kind': 'post', 'fieldName': 'body', 'include': ['title', 'excerpt'], 'url': '#{posts_path}' });
      setup_preview_link({ 'kind': 'post', 'include': ['body', 'title', 'excerpt'], 'url': '#{posts_path}' });
    });
%h1 Edit post
=render 'shared/error_messages', :model => @post
=form_for @post do |f|
  %table.main
    %tr
      %th Title
      %td=f.text_field :title
    %tr
      %th
        Permalink
        %br
        %span.annotation (optional)
      %td=f.text_field :permalink
    %tr
      %th
        Excerpt
        %br
        %span.annotation (#{wikitext_cheatsheet})
      %td=f.text_area(:excerpt, :cols => 80)
    %tr
      %th
        Body
        %br
        %span.annotation link to wikitext markup help
      -# TODO: make text area grow with window
      %td=f.text_area(:body, :cols => 80, :rows => 30)
    %tr
      %th Tags
      %td=f.text_field :pending_tags
    %tr
      %th Public
      %td=f.check_box :public
    %tr
      %th Accepts comments
      %td=f.check_box :accepts_comments
  %p=f.submit 'Save'
%h2#preview_link Preview
-# TODO: graceful non-JS fallback
#ajax-flash
#preview=render 'preview'
.links
  =link_to 'back', posts_path
  =link_to 'show', post_path(@post)
