-# TODO: atom feeds for individual posts
.post
  -@page_title = @post.title
  %h1.major=h @post.title
  .when=timeinfo @post
  .excerpt=excerpt_html
  .body=body_html
.cloud
  %h1 Tags
  -# consider moving this into a partial
  -for tag in @post.tags
    =scaled_tag tag
%p.links
  -if admin?
    =link_to 'edit', edit_post_path(@post), :class => 'edit_link'
  =link_to 'all posts', posts_path, :class => 'back_link'
-if @post.accepts_comments? || @post.comments_count != 0
  -# TODO: use divs to color-code comments (ie. private, awaiting moderation etc)
  =named_anchor 'comments'
  %h2.major Comments
  .comment_info
    ==#{@post.comments.published_count} published, #{@post.comments.unmoderated_count} awaiting moderation, #{@post.comments.spam_count} marked as spam
  -for comment in (admin? ? @post.comments.ham : @post.comments.published)
    -next if comment.new_record?
    %div[comment]
      .body=comment.body.w
      .info==Posted by #{link_to_user comment.user} #{comment.created_at.distance_in_words}
      -admin_only do
        .links
          =link_to 'edit', edit_post_comment_path(@post, comment), :class => 'edit_link'
          %form{:id => "comment_#{comment.id}_destroy_form", :style => 'display:inline;'}
            =submit_to_remote 'button', 'destroy', :url => comment_path(comment), :method => :delete, :failure => "alert('Failed to delete')", :confirm => 'Really delete?'
          -if comment.awaiting_moderation?
            %form{:id => "comment_#{comment.id}_spam_form", :style => 'display:inline;'}
              =submit_to_remote 'button', 'spam', :url => post_comment_path(@post, comment), :method => 'put', :failure => "alert('Failed to mark as spam')", :confirm => 'Really mark as spam?'
            %form{:id => "comment_#{comment.id}_ham_form", :style => 'display:inline;'}
              =submit_to_remote 'button', 'ham', :url => post_comment_path(@post, comment), :method => 'put', :failure => "alert('Failed to mark as ham')"
  -if @comment
    =render :partial => 'comments/comment'
  -else
    -# comments are currently closed but they were open in the past because we have at least one existing comment
    %p==Comments are closed for this post. You can discuss this further in the #{link_to 'forums', forums_path}.
