-content_for :javascript do
  =javascript_include_tag 'ajax'
#ajax-flash
=page_title 'Forums administration'
%table
  %thead
    %tr
      %th Position
      %th Name
      %th Description
      %th Actions
  %tbody
    -for @forum in @forums
      %tr{:class => "forum #{cycle('odd', 'even')}", :id => "forum_#{@forum.id}"}
        %td{'id' => "forum_#{@forum.id}_position"}=@forum.position
        %td{'id' => "forum_#{@forum.id}_name"}=h @forum.name
        %td{'id' => "forum_#{@forum.id}_description"}=h @forum.description
        %td.links
          =link_to 'edit', edit_forum_url(@forum)
          =link_to 'view', forum_url(@forum)
%p.links
  =link_to 'new', new_forum_url
  =link_to 'public index', forums_url
