#ajax-flash
- page_title 'Forums administration'
%table.table
  %thead
    %tr
      %th Position
      %th Name
      %th Description
      %th Actions
  - unless @forums.empty?
    %tbody
      - @forums.each do |forum|
        %tr.forum(id="forum_#{forum.id}")
          %td
            = form_for forum,
              url: admin_forum_path(forum.id),
              html: { data: { name: 'forum[position]', editable: true } } do |f|
              = forum.position
          %td
            = form_for forum,
              url: admin_forum_path(forum.id),
              html: { data: { name: 'forum[name]', editable: true } } do |f|
              = forum.name
          %td
            = form_for forum,
              url: admin_forum_path(forum.id),
              html: { data: { name: 'forum[description]', editable: true } } do |f|
              = forum.description
          %td.links
            = link_to 'edit', edit_forum_path(forum.id)
            = link_to 'view', forum_path(forum.id)
%p.links
  =link_to 'new', new_forum_path
  =link_to 'public index', forums_path
