- @page_title = 'Confirm email'
= breadcrumbs @page_title
%h1.major Confirm your email address
= form_for @confirmation do |f|
  %p
    Select the email addresses you wish to confirm
    %br
    %span.annotation an email will be sent to each selected address
  - current_user.emails.each do |email|
    .email
      - if email.verified?
        = check_box_tag "emails[#{email.id}]", '1', false, disabled: true
      - else
        = check_box_tag "emails[#{email.id}]", '1', true, disabled: false
      - if admin?
        = link_to email, edit_user_email_path(current_user, email)
      - else
        = mail_to email
      - if email.verified?
        (already verified)
  %p= f.submit 'Confirm email addresses'
