= render 'shared/error_messages', model: @product
= form_for @product do |f|
  = f.text_field :name
  = f.text_field :permalink
  = f.text_field :category,
    annotation: 'Desktop, Developer, Other, Server'
  = f.check_box :hide_from_front_page, label: 'Hide from front page?'
  = f.text_field :position, annotation: 'integer'
  = f.text_area :description, annotation: 'optional, HTML'
  = f.text_area :header, annotation: 'optional, HTML'
  = f.text_area :footer, annotation: 'optional, HTML'
  = f.text_field :bundle_identifier,
    label: 'Bundle identifier',
    annotation: 'optional'
  = f.submit
