!!! 5
%html(lang='en-US')
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    %meta(name='viewport' content='width=device-width,initial-scale=1')
    = csrf_meta_tags
    %title
      -# TODO: suppress the wincent.com on some pages (products#show, for example)
      wincent.com:
      = @page_title.presence || controller.controller_name
    = stylesheet_link_tag APP_CONFIG['google_web_fonts'], 'application'
    = render 'shared/google_analytics'
  %body
    .viewport
      .app
        = named_anchor 'top'
        %nav.global
          %a.menu-icon(href='#') &equiv;
          %h1= link_to 'Wincent', root_path
          %ul.navbar-links
            %li{ class: navbar_selected?('products') }
              = link_to 'Products', products_path
              %ul.products
                %li.product-category
                  %h3 Desktop products
                  %ul
                    %li= link_to 'Synergy', '/products/synergy', title: 'Simple and effective iTunes controller'
                    %li= link_to 'Synergy Advance', 'http://wincent.com/a/products/synergy-advance/', title: 'The multipurpose audio companion'
                    %li= link_to 'WinSwitch', 'http://wincent.com/a/products/winswitch/', title: "Enhanced replacement for Apple's Fast User Switching menu"
                %li.product-category
                  %h3 Developer products
                  %ul
                    %li= link_to 'atosym', 'http://wincent.com/a/products/atosym/', title: 'Address-to-symbol conversion for the DWARF format'
                    %li= link_to 'Command-T', '/products/command-t', title: 'Fast file navigation for Vim'
                    %li= link_to 'Hextrapolate', 'http://wincent.com/a/products/hextrapolate/', title: 'Convenient number conversion tool'
                    %li= link_to 'Install', 'http://wincent.com/a/products/install/', title: 'Simple and powerful deployment solution'
                    %li= link_to 'Walrus', '/products/walrus', title: 'Object-oriented templating system'
                    %li= link_to 'Walrat', '/products/walrat', title: 'Ruby Packrat parser generator'
                    %li= link_to 'Wincent Login Tool', 'http://git.wincent.com/login-tool.git', title: 'Command-line management of login items'
                    %li= link_to 'Wincent Strings Utility', 'http://wincent.com/a/products/wincent-strings-util/', title: 'Localization tool'
                    %li= link_to 'WOPublic', 'http://git.wincent.com/WOPublic.git', title: 'BSD-licensed Objective-C source code'
                    %li= link_to 'WOTest', 'http://wincent.com/a/products/wotest/', title: 'Objective-C Unit Testing framework'
                %li.product-category
                  %h3 Server products
                  %ul
                    %li= link_to 'Bansshee', 'http://wincent.com/a/products/bansshee/', title: 'Defense against SSH dictionary attacks'
                    %li= link_to 'Wikitext', '/products/wikitext', title: 'Fast wikitext-to-HTML translator'
            %li{ class: navbar_selected?('blog') }= link_to 'Blog', posts_path
            %li{ class: navbar_selected?('wiki') }= link_to 'Wiki', articles_path
            %li{ class: navbar_selected?('forums') }= link_to 'Forums', forums_path
            %li{ class: navbar_selected?('support') }= link_to 'Support', support_path
            %li{ class: navbar_selected?('search') }
              = link_to 'Search', search_path, id: 'search-link'
              %form(id='search' accept-charset='UTF-8' action=search_path method='get')
                = text_field_tag :q, params[:q], size: 20, id: :search_box, style: 'display:none;'
          #login-logout
            = link_to 'log in', login_path, id: 'login'
            = link_to 'log out', logout_path, id: 'logout'
        #content-wrapper
          #content
            - if flash[:notice]
              #notice
                %i.icon-info-sign
                = raw flash[:notice]
            - if flash[:error]
              #error
                %i.icon-exclamation-sign
                = raw flash[:error]

            -# BUG: this is a bit of kludge so that we don't have to define a
            -# separate layout just to get breadcrumbs on our wikitext pages
            -# handled by the "misc" controller
            - if controller.kind_of? MiscController
              = breadcrumbs params[:action].capitalize
            = yield
        %footer.global
          %ul
            %li= mail_to APP_CONFIG['admin_email'], 'contact',
              title: "Email me at #{APP_CONFIG['admin_email']}",
              class: 'mailto'
            %li= link_to 'legal', '/misc/legal'
      .menu
        .menu-inner
          %section.search
            %form(accept-charset='UTF-8' action=search_path method='get')
              = text_field_tag :q, params[:q],  placeholder: 'Search'
          %section
            %h2 Menu
            %ul
              %li= link_to 'Blog', posts_path
              %li= link_to 'Wiki', articles_path
              %li= link_to 'Forums', forums_path
              %li= link_to 'Support', support_path
              %li= link_to 'Snippets', snippets_path
              %li= link_to 'Tweets', tweets_path
          %section
            %h2 Products
            %ul
              %li= link_to 'Synergy', '/products/synergy', title: 'Simple and effective iTunes controller'
              %li= link_to 'Command-T', '/products/command-t', title: 'Fast file navigation for Vim'
              %li= link_to 'Wikitext', '/products/wikitext', title: 'Fast wikitext-to-HTML translator'
              %li= link_to 'All products', products_path

    = javascript_include_tag 'application'
    = dynamic_javascript_include_tag
    = yield :javascript
    :javascript
      new Wincent.Menu();
