!!! 5
%html(lang='en-US')
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    %meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    = csrf_meta_tags
    %title
      = @page_title.presence || controller.controller_name
      &middot; wincent.com
    = stylesheet_link_tag 'application'
    = render 'shared/google_analytics'
  %body
    .viewport.menu-closed
      .app
        = named_anchor 'top'
        %nav.global
          %a.menu-icon(href='#') &equiv;
          %h1= link_to 'Wincent', root_path
          %ul.navbar-links
            %li{ class: navbar_selected?('products') }
              = link_to 'Products', products_path
            %li{ class: navbar_selected?('blog') }= link_to 'Blog', posts_path
            %li{ class: navbar_selected?('wiki') }= link_to 'Wiki', articles_path
            %li{ class: navbar_selected?('issues') }= link_to 'Issues', issues_path
        #content-wrapper
          #content
            - Array(flash[:notice]).each do |message|
              .notice
                %i.fa.fa-info-circle
                = raw message
            - Array(flash[:error]).each do |message|
              .error
                %i.fa.fa-exclamation-circle
                = raw message

            -# BUG: this is a bit of kludge so that we don't have to define a
            -# separate layout just to get breadcrumbs on our wikitext pages
            -# handled by the "misc" controller
            - if controller.kind_of? MiscController
              = breadcrumbs params[:action].capitalize
            = yield
        %footer.global
          %ul
            %li= mail_to APP_CONFIG['admin_email'], 'contact',
              title: "Email me at #{APP_CONFIG['admin_email']}",
              class: 'mailto'
            %li= link_to 'legal', '/misc/legal'
      .menu.hide
        .menu-inner
          %section
            %h2 Menu
            %ul
              %li= link_to 'Blog', posts_path
              %li= link_to 'Wiki', articles_path
              %li= link_to 'Issues', issues_path
              %li= link_to 'Snippets', snippets_path

    -# TODO: think about doing something like this: https://www.igvita.com/2014/05/20/script-injected-async-scripts-considered-harmful/
    = javascript_include_tag 'application'#, async: true
    -# will need this to be queued
    = yield :javascript
    :javascript
      new Wincent.Menu();
